h1{
	color:#e7ddf0;
	font-family: Glory;
	font-size: 40pt;
}

h2{
	color: white;
	font-family: Nunito;
	font-size: 20pt;
}

p{
	color: white;
	font-family: Hind Siliguri;
}

li{
	color:#f0ddef;
	font-family: Questrial;
}

a{
	color:#fc3d60;
	font-family: Pacifico;
}

body{
	background-color: #5c5363;
}
